<!DOCTYPE html>
<html lang="vi" id="html-root" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PHÒNG TRỌ NĂM LỘC{% endblock %}</title>

    <script>
        const savedTheme = localStorage.getItem('jb-theme') || 'dark';
        document.documentElement.setAttribute('data-theme', savedTheme);
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>

    {% block header %}
        {% include 'layout/header.html' %}
    {% endblock %}

    <main class="container layout-main">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="toast-container">
            {% for category, message in messages %}
              <div class="toast {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content required %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>